div {
  color: white;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

div > li {
  color: green;
  list-style: none;
}

#id-element {
  background-color: #fc0;
}

.class-element {
  display: flex;
  background-color: rgb(196, 100, 6);
}
